In [1]:
import pandas as pd
import json as js

In [2]:
LA_traffic_collision = "traffic-collision-data-from-2010-to-present.csv"

LA_traffic = pd.read_csv(LA_traffic_collision)
LA_traffic.dropna(inplace = True)
LA_traffic.head()

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Premise Description,Address,Cross Street,Location,Zip Codes,Census Tracts,Precinct Boundaries,LA Specific Plans,Council Districts,Neighborhood Councils (Certified)
63,190317457,2019-07-25T00:00:00.000,2019-07-25T00:00:00.000,1810,3,Southwest,328,997,TRAFFIC COLLISION,4025 3037 3004 3028 3030 3101,...,STREET,FIGUEROA,ADAMS,"{'latitude': '34.0282', 'human_address': '{""ad...",22724.0,699.0,444.0,7.0,11.0,32.0
95,191816503,2019-07-25T00:00:00.000,2019-07-25T00:00:00.000,828,18,Southeast,1841,997,TRAFFIC COLLISION,1402,...,STREET,FIGUEROA,105TH,"{'latitude': '33.9408', 'human_address': '{""ad...",22352.0,813.0,1171.0,7.0,14.0,45.0
167,190513112,2019-07-24T00:00:00.000,2019-07-24T00:00:00.000,2145,5,Harbor,587,997,TRAFFIC COLLISION,0605,...,STREET,30TH ST,KERCKHOFF AV,"{'latitude': '33.717', 'human_address': '{""add...",3342.0,987.0,827.0,15.0,15.0,33.0
172,191218985,2019-07-25T00:00:00.000,2019-07-24T00:00:00.000,2130,12,77th Street,1209,997,TRAFFIC COLLISION,4025 3036 3003 3024 3101,...,STREET,FIGUEROA ST,47TH ST,"{'latitude': '34.0007', 'human_address': '{""ad...",23668.0,739.0,896.0,7.0,13.0,2.0
175,191218996,2019-07-25T00:00:00.000,2019-07-24T00:00:00.000,1745,12,77th Street,1265,997,TRAFFIC COLLISION,4025 3036 3004 3028 3101,...,STREET,NORMANDIE AV,82ND ST,"{'latitude': '33.9646', 'human_address': '{""ad...",23678.0,781.0,1242.0,7.0,14.0,20.0

In [3]:
LA_traffic.drop(['Premise Description', 'Zip Codes', 'Census Tracts', 'Precinct Boundaries', 'LA Specific Plans', 'Council Districts', 'Neighborhood Councils (Certified)', 'Victim Age', 'Victim Sex', 'Victim Descent', 'Premise Code', 'Time Occurred', 'Area ID', 'Reporting District', 'Crime Code', 'MO Codes', 'Address', 'Cross Street', 'Location'], axis=1, inplace=True)
LA_traffic.head()

,DR Number,Date Reported,Date Occurred,Area Name,Crime Code Description
63,190317457,2019-07-25T00:00:00.000,2019-07-25T00:00:00.000,Southwest,TRAFFIC COLLISION
95,191816503,2019-07-25T00:00:00.000,2019-07-25T00:00:00.000,Southeast,TRAFFIC COLLISION
167,190513112,2019-07-24T00:00:00.000,2019-07-24T00:00:00.000,Harbor,TRAFFIC COLLISION
172,191218985,2019-07-25T00:00:00.000,2019-07-24T00:00:00.000,77th Street,TRAFFIC COLLISION
175,191218996,2019-07-25T00:00:00.000,2019-07-24T00:00:00.000,77th Street,TRAFFIC COLLISION

In [4]:
LA_data_load = "Crime_Data_2010_2017.csv"
LA_crime = pd.read_csv(LA_data_load)
LA_crime.dropna(inplace=True)
LA_crime.head()

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
15370,130222023,11/12/2013,11/11/2013,2330,2,Rampart,265,121,"RAPE, FORCIBLE",0906 0519 0527 0418 1313 1415 0209 0421 0432 1822,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,121.0,821.0,910.0,998.0,8TH ST,ALVARADO ST,"(34.0549, -118.2778)"
29137,130404327,01/09/2013,01/08/2013,1130,4,Hollenbeck,497,210,ROBBERY,0302 0416 0421 0333 0434 1305 1316 1309 0305 0369,...,REVOLVER,AA,Adult Arrest,210.0,510.0,910.0,998.0,SOTO,OLYMPIC BL,"(34.0243, -118.2198)"
98680,101200908,09/23/2010,09/23/2010,1350,12,77th Street,1209,121,"RAPE, FORCIBLE",0305 0337 0344 0418 0516 0507 0503 0542 0527 1305,...,SEMI-AUTOMATIC PISTOL,IC,Invest Cont,121.0,820.0,910.0,998.0,FIGUEROA ST,47TH ST,"(34.0011, -118.2827)"
98711,101200992,11/04/2010,10/31/2010,2300,12,77th Street,1258,121,"RAPE, FORCIBLE",0302 0421 0507 0504 0540 0536 0527 1313 1415 1822,...,SEMI-AUTOMATIC PISTOL,IC,Invest Cont,121.0,210.0,815.0,821.0,77TH,SAN PEDRO,"(33.9697, -118.2695)"
225210,100307604,02/24/2010,02/23/2010,2000,3,Southwest,395,121,"RAPE, FORCIBLE",0334 0337 0347 0418 0507 0544 0542 0527 1415 1822,...,OTHER CUTTING INSTRUMENT,IC,Invest Cont,121.0,210.0,820.0,910.0,S WESTERN AV,W 42ND ST,"(34.0073, -118.3089)"

In [6]:
LA_crime.drop(['Weapon Description', 'Status Code', 'Status Description', 'Crime Code 1', 'Crime Code 2', 'Crime Code 3', 'Crime Code 4', 'Victim Age', 'Victim Sex', 'Premise Code', 'Premise Description', 'Weapon Used Code', 'Victim Descent', 'Time Occurred', 'Area ID', 'Reporting District', 'Crime Code', 'MO Codes', 'Address', 'Cross Street'], axis=1, inplace=True)
LA_crime.head()

,DR Number,Date Reported,Date Occurred,Area Name,Crime Code Description,Location
15370,130222023,11/12/2013,11/11/2013,Rampart,"RAPE, FORCIBLE","(34.0549, -118.2778)"
29137,130404327,01/09/2013,01/08/2013,Hollenbeck,ROBBERY,"(34.0243, -118.2198)"
98680,101200908,09/23/2010,09/23/2010,77th Street,"RAPE, FORCIBLE","(34.0011, -118.2827)"
98711,101200992,11/04/2010,10/31/2010,77th Street,"RAPE, FORCIBLE","(33.9697, -118.2695)"
225210,100307604,02/24/2010,02/23/2010,Southwest,"RAPE, FORCIBLE","(34.0073, -118.3089)"

In [7]:
LA_crime.to_csv(r'C:\Users\bchik\Desktop\ETL\Data/LA_crime.csv', index=False)

In [8]:
LA_traffic.to_csv(r'C:\Users\bchik\Desktop\ETL\Data/LA_traffic.csv', index=False)

In [ ]:
#import psycopg2

In [ ]:
#conn = psycopg2.connect("host=localhost dbname=ETL user=postgres password=postgres")